<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration scan="true">
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss,SSS} %-5level [%logger{0}] %m%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <File>${catalina.base}/logs/oikonomos.log</File>
    <encoder>
      <pattern>%d{HH:mm:ss,SSS} %-5level [%logger{0}] %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>5</maxIndex>
      <FileNamePattern>${catalina.base}/logs/oikonomos.log.%i.gz</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>1MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" additivity="false" level="FATAL">
    <appender-ref ref="CONSOLE"/>
  </logger>
  <logger name="org.springframework" level="INFO">
    <appender-ref ref="FILE"/>
  </logger>
  <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" level="WARN"/>
  <logger name="com.marthym.oikonomos" level="DEBUG"/>
  <logger name="org.springframework.security.config.http.HttpSecurityBeanDefinitionParser" level="WARN"/>
  <root level="WARN">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>
