@CHARSET "UTF-8";
.content{
	padding:10px;
}
.clear {clear:both;}

.main-view {
	box-shadow: 0 0 7px #000000;
    float: right;
    margin-right: 15px;
    margin-top: -33px;
}

@sprite .logout {gwt-image: "logout";}
@sprite .profile-nav-top {gwt-image: "profile32";}
@sprite .profile-main-view {gwt-image: "profile";background-color: white;}
@sprite .accounts-main-view {gwt-image: "mvAccounts";background-color: white;}
