@CHARSET "UTF-8";
@External .header;

.content{}
.clear {clear:both;margin:5px;}

.main-view {
	box-shadow: 0 0 7px #000000;
    float: right;
    margin-right: 15px;
    margin-top: -33px;
    margin-bottom: -11px;
    background-color: white;
}

@sprite .logout {gwt-image: "logout";}
@sprite .profile-nav-top {gwt-image: "profile32";}
@sprite .profile-main-view {gwt-image: "profile";background-color: white;}
@sprite .accounts-main-view {gwt-image: "mvAccounts";background-color: white;}
@sprite .categories-main-view {gwt-image: "mvCategories";background-color: white;}
@sprite .payess-main-view {gwt-image: "mvPayees";background-color: white;}

/********************************************
 ** AccountTransactionsView
 *******************************************/

.transactionsView {padding-bottom: 52px;}
.transactionsView .scroll {}
.transactionsView .disclosure .header {
	border-top: 1px solid #A6A6A6;
    color: #616161;
    font-weight: bold;
    text-decoration: none;
}