@CHARSET "UTF-8";

.dataGridHeader {
  padding: 3px 2px;
}

.dataGridCell {
  padding: 2px;
  overflow-y:visible;
}

.center{text-align:center;}
.right{text-align:right;}
.category{font-style:italic;font-size:9pt;margin-left:15px;}
@sprite .info{height:16px;width:16px;gwt-image:"hintIcon";overflow:visible;}