.topNavigation {
	width:100%; top:0; left:0; height:36px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	font-size:14px; font-weight:bold; color:#A6A6A6;}
.topNavigation a {color:#4889C2; font-weight:bold; text-decoration:none; opacity:.3;
	-moz-transition: all .4s; cursor:pointer;}
.topNavigation a:hover {opacity:1;}
.topNavigation a.focus {opacity:1;}
.topNavigation .right {float:right;}
.topNavigation ul {list-style:none; text-align:center; padding:0; margin: 2px 10px;}
.topNavigation ul li {display: inline;}
.topNavigation span {line-height:32px; padding:2px;}
.topNavigation h1 {font-size:20px; padding:5px; margin:0px; text-align:left;}

.topNavigation .button {padding-left:32px; padding-top:32px; line-height:64px; font-size:0; color:transparent;
	background:url('none.png') no-repeat top left transparent;}
.topNavigation .logout {background-image:url('oikonomos/img/door-out-icon.png');}
.topNavigation .properties {background-image:url('oikonomos/img/document-properties-icon.png');}
