<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<security:http auto-config='true' create-session="always">
		<security:intercept-url pattern="/index/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/index.html" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/rpc/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/**" access="ROLE_USER" />
		<security:form-login login-page="/index.html" />
	</security:http>
	
	<bean id="oikonomosAuthenticationProvider"
		class="com.marthym.oikonomos.server.utils.OikonomosAuthenticationProvider" />
	<security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="oikonomosAuthenticationProvider" />
    </security:authentication-manager>
    
	<security:global-method-security
		secured-annotations="enabled" jsr250-annotations="disabled">
		<security:protect-pointcut expression="execution(* com.marthym.oikonomos.main.client.services.*Service.*(..))" access="ROLE_USER"/>
	</security:global-method-security>

</beans>