/** Add css rules here for your application. */
html, body {margin:0;padding:0;font-family: Helvetica;}


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

h2 {color:#616161;}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.gwt-Button,
.gwt-SubmitButton {	/* Submit button */
	border-radius: 3px;
	border: 1px solid #336895;
	box-shadow: inset 0 1px 0 #8dc2f0;
	width: 242px;
	height: 40px;
	margin-top: 20px;
	
	background: linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -o-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -moz-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -webkit-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -ms-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	
	cursor: pointer;
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px 0 #336895;
	
	font-size: 13px;
}

.gwt-Button:hover,
.gwt-SubmitButton:hover {
	background: linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -o-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -moz-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -webkit-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -ms-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
}

.gwt-Button:active,
.gwt-SubmitButton:active {
	background: linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -o-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -moz-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -webkit-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -ms-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	
	box-shadow: inset 0 0 2px rgba(0,0,0, .3), 0 1px 0 white;
}

.gwt-TextBox,
.gwt-DateBox,
.gwt-SuggestBox,
.gwt-PasswordTextBox {
	border: 1px solid #a6a6a6;
	width: 230px;
	height: 40px;
	border-radius: 3px;
	margin-top: 10px;
	padding-left: 10px;
	color: #6c6c6c;
	background: #fcfcfc;
	outline: none;
}

.gwt-TextBox:focus,
.gwt-DateBox:focus,
.gwt-SuggestBox:focus,
.gwt-PasswordTextBox:focus {
	box-shadow: inset 0 0 2px rgba(0,0,0, .3);
	background: white;
}
::-webkit-input-placeholder{color:#a6a6a6;} 
::-moz-placeholder{color:#a6a6a6;} /* firefox 19+ */
:-ms-input-placeholder{color:#a6a6a6;} /* ie */
input:-moz-placeholder {color:#a6a6a6;}

.dateBoxFormatError {
  background: #ffcccc;
}

.gwt-PopupPanelGlass {
	background: url('img/back.png');
}

.gwt-SuggestBoxPopup {
	color: #6c6c6c;
	background: #fcfcfc;
	border: 1px solid #a6a6a6;
}
.gwt-SuggestBoxPopup .item {margin:2px;}
.gwt-SuggestBoxPopup .item-selected {background: #E5EAEF;}

/********************************************************
** DATE PICKER
********************************************************/
.gwt-DatePicker {
  border: 1px solid #ccc;
  border-top:1px solid #999;
  cursor: default;
}

.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
  outline: none;
}

.datePickerMonthSelector td:focus {
  outline: none;
}

.datePickerDays {
  width: 100%;
  background: white;
}

.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  font-size: 85%;
  text-align: center;
  padding: 4px;
  outline: none;
  font-weight:bold;
  color:#333;
  border-right: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
}

.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  background: #fff;
  padding: 0px 4px 2px;
  cursor: default;
  color:#666;
  font-size:70%;
  font-weight:normal;
}

.datePickerDay {
  padding: 4px 7px;
  cursor: hand;
  cursor: pointer;
}

.datePickerDayIsWeekend {
  background: #f7f7f7;
}

.datePickerDayIsFiller {
  color: #999;
  font-weight:normal;
}

.datePickerDayIsValue {
  background: #d7dfe8;
}

.datePickerDayIsDisabled {
  color: #AAAAAA;
  font-style: italic;
}

.datePickerDayIsHighlighted {
  background: #F0E68C;
}

.datePickerDayIsValueAndHighlighted {
  background: #d7dfe8;
}

.datePickerDayIsToday {
  padding: 3px;
  color: #fff;
  background-color: #4889C2;
}

.datePickerMonthSelector {
  width: 100%;
  padding: 1px 0 5px 0;
  background: #fff;
}

.datePickerPreviousButton,
.datePickerNextButton {
  font-size: 120%;
  line-height: 1em;
  color: #3a6aad;
  cursor: hand;
  cursor: pointer;
  font-weight: bold;
  padding: 0px 4px;
  outline: none;
}

td.datePickerMonth {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 100%;
  font-weight: bold;
  color: #333;
}

.dateBoxPopup {}


/********************************************************
** TAB LAYOUT PANEL
********************************************************/
.gwt-TabLayoutPanel {
	background-color: #E5EAEF;
}
.gwt-TabLayoutPanelTabs {
	margin-left:10px;
}
.gwt-TabLayoutPanelTabInner {
    margin: 0 3px 0 0;
    cursor: pointer;
}
.gwt-TabLayoutPanelTabInner .gwt-Label,
.gwt-TabLayoutPanelTabInner .gwt-HTML {
	background-color: #FFFFFF;
    border: 1px solid #DDE2E8;
    border-radius: 1px 1px 0 0;
    color: #1F252A;
    float: left;
    font-size: 13px;
    height: 20px;
	line-height: 11px;
    padding: 9px 19px 0;
    text-decoration: none;
}
.gwt-TabLayoutPanelContent {
	background-color: white;
	margin: 0px 10px;
}